<%- include('../partials/header.ejs') %>

<link rel="stylesheet" href="/style.css">

<body>
    <% if (login == 1) {%>
        <%- include('../partials/navbar.ejs') %>
        <table>
        <tr>
            <th>Nome</th>
            <th>Horas trabalhadas</th>
        </tr>
        <% usuarios.forEach(usuario => {%>
                    <tr>
                        <td><%= usuario.nome %></td>
                        <td><%= usuario.horasTrabalhadas %> Horas</td>  
                    </tr>
        <% });  %>
    </table>
    <% } else{ %>
        <h1>Você não tem acesso a essa rota</h1>
    <% } %>
</body>

<style>
    @media (max-width: 900px) {
    table{
        width: 100%;
        margin: 10px;
    }
  }
</style>

<%- include('../partials/footer.ejs') %>