<%- include('../partials/header.ejs') %>
<body>
    
    <% if (admin == 1) {%>
        <%- include('../partials/navbar.ejs') %>
        <% projetos.forEach(projeto => {%>
            <div class="card">
                <div style="display: flex; align-items: center; justify-content: space-between;">
                    <%= projeto.nome %>
                    <a href="/admin/projeto/<%= projeto.id %>" style="text-decoration: none; color: black;">Ver projeto</a>
                </div>
            </div>
        <% }); %> 

    <% } else{ %>
        <h1>Rota não autorizada, você não é um admin</h1>
    <% } %>
</body>
</html>

<%- include('../partials/footer.ejs') %>