<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        .container {
            display: flex;
            justify-content: center;
        }

        .projeto {
            width: 80%;
            border: solid green 2px;
            padding: 25px;
            margin: 25px;
            display: flex;
            flex-direction: column;
        }

        .countedo {
            display: flex;
            flex-direction: column;
        }

        .tarefa {
            border: solid green 2px;
            width: 90%;
            margin: 20px;
            padding: 20px;
            display: flex;
            flex-direction: column;
        }
    </style>

</head>

<body>

    <div class="container">
        <div class="projeto">
            <h2>Nome do Projeto: <%= projeto.nome %>
            </h2>
            <div class="conteudo">
                <h3 style="display: inline-block;">Descrição:</h3>
                <p style="display: inline-block;">
                    <%= projeto.descricao %>
                </p>
                <h3>Últimas Tarefas completas:</h3>
                <% tarefas.forEach(tarefa=> { %>
                    <div style="display: flex; justify-content: center;">
                        <div class="tarefa">
                            <h3>Nome da tarefa: <%= tarefa.nome %>
                            </h3>
                            <h3 style="display: inline-block;">Relatório:</h3>
                            <p style="display: inline-block;">
                                <%= tarefa.relatorio %>
                            </p>
                            <h3>Horário de entrada: <span style="font-weight: 300;" class="entrada"><%= tarefa.horaEntrada %></span> </h3>
                            <h3>Horário de saída: <span style="font-weight: 300;" class="saida"><%= tarefa.horaSaida %></span></h3>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
    </div>

</body>

</html>