<%- include('../partials/header.ejs') %>
    <link rel="stylesheet" href="/style.css">

    <style>
        button {
            color: white;
            border: 0px;
            padding: 10px;
            font-weight: bold;
            border-radius: 10px;
        }
    </style>

    <body>
        <% if (login==0) { %>
            <%- include('../partials/navbar.ejs') %>
            <h1 style="text-align: center; margin-top: 35px;">Atualizar Tarefa</h1>
            
            <div style="display: flex; justify-content: center;">
                <div class="editar-container">
                    <form action="/tarefa?_method=PUT" method="POST">
                        <h3>Nome:</h3>
                        <input type="text" name="nome" value="<%= tarefa.nome %>" placeholder="Digite o nome:">
                        <h3>Horário de entrada</h3>
                        <input type="time" name="horaEntrada" value="<%= tarefa.horaEntrada %>">
                        <h3>Horário de saída:</h3>
                        <input type="time" name="horaSaida" value="<%= tarefa.horaSaida %>">
                        <h3>Mês e ano:</h3>
                        <input type="date" name="ano" value="<%= tarefa.ano %>">
                        <h3>Relatório:</h3>
                        <input type="hidden" name="id" value="<%= tarefa.id %>">
                        <input type="hidden" name="projetoId" value="<%= tarefa.projetoId %>">
                        <textarea style="width: 500px; height: 300px;" name="relatorio"><%= tarefa.relatorio %></textarea>
                        <br><br>
                        <button style="background-color: green;">Atualizar Tarefa</button>
                    </form>
                    <br>
                    <form action="">
                        <button style="background-color: red;">Deletar Tarefa</button>
                    </form>
                </div>
            </div>

           <%  } else{ %>
            <h1>Você não tem acesso a essa página</h1>
           <% } %>
    </body>
    <%- include('../partials/footer.ejs') %>