<%- include('../partials/header.ejs') %>

<body>

    <% if (admin==0) {%>
        <%- include('../partials/navbar.ejs') %>
        <h1 style="text-align: center;">Projetos</h1>

        <% projetos.forEach(projeto=> { %>
            <div class="container">
                <div class="projeto">
                    <h2> <%= projeto.nome %></h2>
                    <h3><a href="/projeto/<%= projeto.id %>">Trabalhar</a></h3>
                 </div>
            </div>
            <% }); %>

                <%} else{%>
                    <h1>Você não tem acesso a essa rota, você é um admin</h1>
                    <% } %>

</body>

</html>
<%- include('../partials/footer.ejs') %>