<%- include('../partials/header.ejs') %>
    <style>
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        .projeto {
            width: 80%;
            padding: 20px;
            border: solid black 2px;
            margin: auto;
        }

        .container {
            margin-top: 25px;
        }

        .tarefa {
            border: solid black 2px;
            padding: 25px;
            margin: 25px;
        }

        nav {
            background-color: black;
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px;
        }

        nav li {
            list-style: none;
            font-size: 1.3rem;
        }

        nav li a {
            text-decoration: none;
            color: white;
        }
    </style>


    <body>


        <% if (admin==0) {%>
            <%- include('../partials/navbar.ejs') %>
                <div class="container">
                    <div class="projeto">
                        <h1>Nome do Projeto:</h1>
                        <h3>
                            <%= projeto.nome %>
                        </h3>
                        <h2>Admin Criador: <%= projeto.usuario.nome %>
                        </h2>
                        <br>
                        <h3>Adicionar Tarefa Feita:</h3>
                        <form action="/adicionar" method="POST">
                            <h3>Nome:</h3>
                            <input type="text" name="nome" placeholder="Digite o nome:">
                            <h3>Horário de entrada</h3>
                            <input type="time" name="horaEntrada">
                            <h3>Horário de saída:</h3>
                            <input type="time" name="horaSaida">
                            <h3>Mês e ano:</h3>
                            <input type="date" name="ano">
                            <h3>Relatório:</h3>
                            <textarea style="width: 500px; height: 300px;" name="relatorio"></textarea>
                            <input type="hidden" name="id" value="<%= projeto.id %>">
                            <br><br>
                            <button>Criar Tarefa</button>
                        </form>

                        <h2>Tarefas Concluidas</h2>

                        <% tarefas.forEach(tarefa=> {; %>
                            <div class="tarefa">

                               <a href="/atualizar/<%= tarefa.id %>"> <img src="/images/editar.png" style="float: right;" width="30px" alt="imagem"></a>

                                <h3 style="margin-top: 5px;">
                                    Nome da Tarefa:<span  style="font-weight: 400;"> <%= tarefa.nome %> </span>
                                </h3>

                                <h3>Hora de Entrada: <span style="font-weight: 400;"><%= tarefa.horaEntrada %></h3></span>

                                <h3>Hora de saída: <span style="font-weight: 400;"><%= tarefa.horaSaida %></h3></span>

                                <h3>Data: <span style="font-weight: 400;"><%= tarefa.ano %></h3></span>
                                <h3>Relatório:</h3>
                                <p>
                                    <%= tarefa.relatorio %>
                                </p>
                            </div>
                         <% }) %>

                        


                    </div>
                </div>

                <%} else{%>
                    <h1>Você não tem acesso a essa rota, você é um admin</h1>
                    <% } %>


    </body>

    </html>
    <%- include('../partials/footer.ejs') %>